@model IEnumerable<PostawNaMilionAzure.Models.Question>

@{
    ViewBag.Title = "Question";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">

    <div id="question-all">
        @Html.Partial("_ListQUestion")
    </div>
   
</div>


@section scripts{

    <script>
        $(document).delegate('#hidden-show-question', 'click', function (e) {

            e.preventDefault();
            idQuestion = $(this).attr("data-id");
            idCategory = $(this).attr("data-id-category");
            console.log(idCategory);
            $.ajax({
                type: "post",
                url: "@Url.Action("HiddenQuestion", "AdminManageQuestion")",
                ajaxsync: true,
            data: { id: idQuestion },
            success: function () {
                $("#question-all").load('@Url.Action("Question", "AdminManageQuestion")?categoryID=' + idCategory);
            },
            error: function (data) {
                alert(data)
            }

        });
        return false;
        });
    </script>

}

