@import "Variables";
@import "Helpers";


.game-photo {
    margin: 10px 0;
    height: 400px;
    position: relative;
    z-index: -1;
    background-position: center;
    background-size: 80%;
    background-image: url('../../AppImage/maxresdefault.jpg');
    /*img {
        max-height: 400px;
        z-index: -1;
        position: absolute;
    }*/
}

.game-question {
    background-color: rgba(117, 162, 237, 0.70);
    border: solid 3px rgb(24, 81, 176);
    min-height: 100px;
    max-height: 400px;
    margin: 0 30px;
    margin-top: -20px;
    z-index: 10;

    .game-question-text {
        padding: 20px;
    }
}

.game-answer {
    margin: 0 40px;

    > div {
        padding: 10px 20px;
        background-color: rgba(70, 128, 225, 0.82);

        p {
            text-align: center;
            font-weight: bold;
            padding: 5px;
        }
    }
}

#input_container {
    position: relative;
    padding: 0;
    margin: 0;
}

#input {
    margin: 0;
    padding-left: 30px;
}

#input_all {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 78px;
    width: 10px;
    height: 10px;
}


#input_clear {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 56px;
    width: 10px;
    height: 10px;
}

#input_plus {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 36px;
    width: 10px;
    height: 10px;
}

#input_minus {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 15px;
    width: 10px;
    height: 10px;
}


.game-sum {
    padding: 30px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #ffd800;
}


.quantity-answer {
    cursor:default;


    .quantity-answer::-webkit-inner-spin-button,
    .quantity-answer::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
