html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.nav-admin-manage {
  background-color: rgba(217, 236, 236, 0.55); }
  .nav-admin-manage ul li a {
    color: black !important; }
  .nav-admin-manage li:hover {
    background-color: red; }

.add-category {
  padding: 20px 0; }

.btn-add-category {
  margin: 0px auto; }

.radio-button input {
  float: left;
  clear: left;
  width: 50px;
  line-height: 20px; }

body {
  padding-top: 50px;
  padding-bottom: 20px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

h2 {
  padding: 10px;
  font-size: 25px;
  font-weight: bold; }

/*  Validation */
.field-validation-error {
  color: #e80c4d;
  font-weight: bold; }

.field-validation-valid {
  display: none; }

input.input-validation-error {
  border: 1px solid #e80c4d; }

textarea.input-validation-error {
  border-color: red; }

.validation-summary-errors {
  color: #e80c4d;
  font-weight: bold;
  font-size: 1.1em; }

.validation-summary-valid {
  display: none; }

.done-add {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: red; }

.owl-carousel .item img {
  max-height: 500px; }
  @media screen and (max-width: 1200px) {
    .owl-carousel .item img {
      max-height: 400px; } }
  @media screen and (max-width: 768px) {
    .owl-carousel .item img {
      max-height: 300px; } }

.owl-carousel .carousel-content {
  position: absolute;
  top: 70%;
  text-align: right;
  right: 10%;
  width: 100%;
  z-index: 1;
  color: #68cb96;
  font-size: 105px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
  @media screen and (max-width: 1200px) {
    .owl-carousel .carousel-content {
      font-size: 70px; } }
  @media screen and (max-width: 768px) {
    .owl-carousel .carousel-content {
      font-size: 40px; } }

.owl-carousel .customNextBtn {
  background-image: url("../AppImage/if_arrow_left_alt1_118748.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  z-index: 5; }

.owl-carousel .customPrevBtn {
  background-image: url("../AppImage/if_arrow_right_alt1_118746.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  z-index: 5;
  position: absolute;
  top: 10%; }

.owl-carousel .owl-prev {
  position: absolute;
  top: 35%;
  left: 1%;
  color: white;
  width: 50px;
  height: 50px; }
  .owl-carousel .owl-prev img {
    width: 50px;
    height: 50px; }
    @media screen and (max-width: 768px) {
      .owl-carousel .owl-prev img {
        width: 40px;
        height: 40px; } }

.owl-carousel .owl-next {
  position: absolute;
  top: 35%;
  right: 1%;
  color: white;
  width: 50px;
  height: 50px; }
  .owl-carousel .owl-next img {
    width: 50px;
    height: 50px; }
    @media screen and (max-width: 768px) {
      .owl-carousel .owl-next img {
        width: 40px;
        height: 40px; } }

.three-elements {
  padding: 50px 0; }
  .three-elements > div {
    padding: 0 50px; }

.game-photo {
  margin: 10px 0;
  height: 400px;
  position: relative;
  z-index: -1;
  background-position: center;
  background-size: 80%;
  background-image: url("../../AppImage/maxresdefault.jpg");
  /*img {
        max-height: 400px;
        z-index: -1;
        position: absolute;
    }*/ }

.game-question {
  background-color: rgba(117, 162, 237, 0.7);
  border: solid 3px #1851b0;
  min-height: 100px;
  max-height: 400px;
  margin: 0 30px;
  margin-top: -20px;
  z-index: 10; }
  .game-question .game-question-text {
    padding: 20px; }

.game-answer {
  margin: 0 40px; }
  .game-answer > div {
    padding: 10px 20px;
    background-color: rgba(70, 128, 225, 0.82); }
    .game-answer > div p {
      text-align: center;
      font-weight: bold;
      padding: 5px; }

#input_container {
  position: relative;
  padding: 0;
  margin: 0; }

#input {
  margin: 0;
  padding-left: 30px; }

#input_all {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 78px;
  width: 10px;
  height: 10px; }

#input_clear {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 56px;
  width: 10px;
  height: 10px; }

#input_plus {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 36px;
  width: 10px;
  height: 10px; }

#input_minus {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 15px;
  width: 10px;
  height: 10px; }

.game-sum {
  padding: 30px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #ffd800; }

.quantity-answer {
  cursor: default; }
  .quantity-answer .quantity-answer::-webkit-inner-spin-button,
  .quantity-answer .quantity-answer::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }

