@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   XYZ<br />
   XYZ<br />
    <abbr title="Phone">Phone:</abbr>
    XYZ
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">XYZ</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">XYZ</a>
</address>