@model PostawNaMilionAzure.ViewModel.LastGameViewModel
<div id="load-all-property" class="row">

        <div class="col-lg-12">
            Rozegranych gier w tym okresie: @Model.CountGame
        </div>

</div>