
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <h2>Kategorie</h2>

    @Html.Partial("_ListCategory")
</div>



@section scripts{

    <script>





    </script>

}