@model PostawNaMilionAzure.ViewModel.LastGameViewModel
@{
    ViewBag.Title = "ValueGame";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Ilośc rozegranych gier</h2>
@using (Ajax.BeginForm("ValueGame", "AdminManage", new AjaxOptions()
{
    UpdateTargetId = "load-all-property",
    HttpMethod = "Get"
}))
{
    <div class="row">
        <div class="col-lg-6 ">Data od: </div>
        <div class="col-lg-6 ">@Html.TextBoxFor(x => x.StarDate)</div>
    </div>
    <div class="row">
        <div class="col-lg-6 ">Data do: </div>
        <div class="col-lg-6 ">@Html.TextBoxFor(x => x.LastDate)</div>
    </div>
    <div class="row">
        <div class="col-lg-12 ">
            <input type="submit" value="Szukaj" />
        </div>

    </div>
}




@Html.Partial("_ValueGame")

