@model List<PostawNaMilionAzure.Models.CategoryDict>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <h2>Kategorie</h2>
    <div id="category-all">


        @Html.Partial("_ListCategory")
    </div>
</div>



@section scripts{

    <script>
        $(document).delegate('#hidden-show-category', 'click', function (e) {

            e.preventDefault();
            idCategory= $(this).attr("data-id");

            console.log(idCategory);
            $.ajax({
                type: "post",
                url: "@Url.Action("HiddenCategory", "AdminManageCategory")",
                ajaxsync: true,
                data: { id: idCategory },
            success: function () {
                $("#category-all").load("@Url.Action("Category", "AdminManageCategory")");
            },
            error: function (data) {
                        alert(data)
            }
                   
        });
        return false;
        });
    </script>

}